body {
	font-family: Futura;
	color: #006BA6;
}

h1 {
	margin-top: 50px;
}

.panel-default {
	max-width: 33%;
	margin: 0 auto;
	text-align: center;
}

.nav-tabs {
    max-width: 33%;
    margin: 0 auto;
    margin-top: 100px;
}

.form-control {
	margin: 0 auto;
}

.form-group {
	margin: 15px;
}

.btn-default {
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: #006BA6;
	color: white;
	background-image: none;	
	text-shadow: none;
}

.btn-default:hover {
	background-color: #006297;
	color: lightgray;
	background-image: none;	
	text-shadow: none;
}

.btn-default:active {
	background-color: #005888;
	color: gray;
	background-image: none;	
	text-shadow: none;
}
