.navbar-default {
	background-color: #006BA6;
	border-radius: 0;
	background-image: none;
	border: none;
	font-family: Futura;
}

.navbar-default .navbar-brand {
	color: white;

}

.navbar-default .navbar-brand:hover {
	color: white;
	background-color: #006297;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
	background-color: #006297;
}

.navbar-default .navbar-nav>li>a:visited {
	color: white;
}

.navbar-default .navbar-brand:visited {
	color: white;
}

.dropdown-menu>li>a:hover {
	color: white;
	background-color: #006297;
	background-image: none;
}

.dropdown-menu>li>a {
	color: white;
	background-color: #006BA6;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #005888;
	background-image: none;
	color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #006BA6;
    min-width: 119.12px;
}

