.bodyPanels {
	margin-top: 50px;
}

#infoPanels {
	margin-top: 20px;
}

.leagueCol img {
	display: inline-block;
	margin-right: 25px;
}

.panel {
	box-shadow: none;
	background-image: none;
	border-color: #006BA6;
	color: #006BA6;
}

.panel-default>.panel-heading {
	background-color: #006BA6;
    color: white;
    background-image: none;
}