
.col-xs-8 img {
	display: inline-block;
	margin-right: 25px;
}

.col-xs-3 img {
	display: inline-block;
	margin-right: 25px;
}

.col-xs-12 img {
	display: inline-block;
	margin-right: 25px;
}

.bodyPanels {
	margin-top: 50px;
}

#infoPanels {
	margin-top: 20px;
}

.leagueCol img {
	display: inline-block;
	margin-right: 25px;
}