h1 {
	text-align: center;
}

.container {
	max-width: 100%;
}

p {
	text-align: center;
}

img {
	margin: auto;
	display: block;
}

h2 {
	text-align: center;
}

.headerdiv {
	text-align: center
}

.headerdiv * {
	margin: 0 auto;
	display: inline-block;
}

