body {
	font-family: Futura;
}

.landing {
	background-color: #8BBBD6;
	color: white;
	overflow: auto;
	margin-top: 50px;
	margin: 0 auto;
	height: 100vh;
}

.leagueList h2 {
	color: #006BA6;
	padding-top: 15px;
	margin-top: 75px;
}

.leagueList.jumbotron {
	padding-top: 0px;
}

.leagueList h4 {
	color: #006BA6;
}

.leagueCard {
	height: 100px;
    width: 100px;
    background-color: #006BA6;
    color: white;
    border-radius: 20px;
    text-align: center;
    /* margin: 0 auto; */
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.leagueCard:hover {
	background-color: #006297;
	cursor: pointer;
}

img {
	max-width: 40%;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

button.btn.btn-primary {
	margin-left: 15px;
}

.form-control {
	margin-left: 15px;
}

input#formBasicText {
	margin: 0;
	margin-top: 10px;
}

.jumbotron div form * {
	margin: auto 0;
	display: inline-block;
}

.jumbotron div form {
	margin-top: 15px;
}

form {
	text-align: center;
}

h4 {
	text-align: center;
	font-style: italic;
}
